<h1>Admin Panel</h1>

<ul>
    <li><a asp-area="AdminPanel" asp-controller="Product" asp-action="Index">Products</a></li>
    <li><a asp-area="AdminPanel" asp-controller="Category" asp-action="Index">Categories</a></li>
</ul>